* {box-sizing: border-box;}

body {
	margin: 0;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: hwb(218 52% 0%);
	background-attachment: fixed;
	text-align: center;
}

#navbar {
	width: 100vw;
	background: url('../img/starry_sky.jpg');
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	border: ridge 3px rgb(255, 216, 98);
	text-align: center;
	text-shadow: 2px 2px #e6b72c;
	color: rgb(255, 255, 255);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.item-list{
	display: flex;
	scroll-behavior: smooth;
	overflow: auto;
    scroll-snap-type: x mandatory;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	background-color: white;
	width: 98%;
	border-radius: 10px 100px / 120px;
	margin: auto;
	text-align: center;
}

iframe {
    scroll-snap-align: center;
	margin: 20px;
}

h3 {
	margin-top: 5%;
}

#tiktok-vids {
	background-color: white;
	border-radius: 10px 100px / 120px;
	width: 98%;
	display: flex;
	margin: auto;
	text-align: center;
}

section {
	margin: 20px;
}

