/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: rgb(156, 186, 255);
}

h1 {
  display: flex;
  margin: auto;
  justify-content: center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column; /* Arrange boxes vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  width: 70%;

  border-radius: 5px;

  margin-bottom: 10px;
  padding: 5px;

  content: "";
  clear: both;
}

/* Control link colors when clicked + when sitee reloaded*/
a {
  color: rgb(89, 189, 255);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: rgb(228, 174, 255);
}

a.clicked {
  color: rgb(152, 73, 255);
}

/* Arrows to navigate Lab sites */

.arrows {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  margin: auto;
  text-align: center;
}

.arrows img {
  max-height: 50px;
}

#left, #right, #title {
  margin-bottom: 20px;
}

